* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.anime-background {
    display: flex;
    justify-content: space-between;
}

.anime {
    display: flex;
    justify-content: space-between;
}

.naruto{
    margin-top: 100px;
    width: 50%;
    height: 600px;
    background-size: cover; /* Adjust size as necessary */
    animation: come-right 3s ease forwards;
}

.zenitsu {
    margin-top: 100px;
    width: 50%;
    height: 600px;
    background-size: cover; /* Adjust size as necessary */
    animation: come-middle 3s ease forwards;
}

@keyframes come-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        display: none;
    }
}

@keyframes come-middle {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
        display: none;
    }
}